<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
  </head>
  <body>
<h2>Небольшой тест</h2>
<form method="post" action="/question">
  <p><b>Что из представленных типов данных является неизменяемым?</b></p>
    <input type="radio" name="answer" value="a1">dict<Br>
  <input type="radio" name="answer" value="a2">list<Br>
  <input type="radio" name="answer" value="a3">frozenset<Br>
  <input type="radio" name="answer" value="a4">defaultdict<Br>
   <p><b>Как по вашему мнению расшифровывается аббревиатура &quot;ОС&quot;?</b></p>
    <input type="radio" name="answer1" value="b1">Операционная система<Br>
  <input type="radio" name="answer1" value="b2">Олух Сосет<Br>
  <input type="radio" name="answer1" value="b3">Офицерский состав<Br>
  <input type="radio" name="answer1" value="b4">Папеч<Br>
   <p><b>Как по вашему мнению расшифровывается аббревиатура &quot;ОС&quot;?</b></p>
    <input type="radio" name="answer2" value="c1">Операционная система<Br>
  <input type="radio" name="answer2" value="c2">Олух Сосет<Br>
  <input type="radio" name="answer2" value="c3">Офицерский состав<Br>
  <input type="radio" name="answer2" value="c4">Папеч<Br>
    <button type="submit">Отправить</button>
</form>
  </body>
</html>