<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="/static/css/images/favicon.ico" />
<script src="/static/js/jquery-1.4.2.js" type="text/javascript"></script>
<script src="/static/js/js-fnc.js" type="text/javascript"></script>
<!--[if IE 6]><link rel="stylesheet" href="/static/css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<div id="featured-content">
  <div class="shell">
    <h2>Добро пожаловать на сайт викторины С++</h2>
    <p>Здесь вы можете пройти тест из 10 вопросов по языку С++, узнать свой результат и получить необходимые материалы подготовки на свою почту</p>
  </div>
</div>
<div id="featured-content">
  <div class="shell">

<a href="/main"><font size="4"><a href="/quiz">Сыграть викторину С++</font></a> <br>
        </div>
</div>
</body>
</html>